body{
    background-color: black;
}

html {
  scroll-behavior: smooth;
}

.navbar{
    background-color: black;
}

#nav{
    width: 50%;
    padding: 0;
    list-style: none;
    background-color: black;
    color: white;
    margin-left: 50px;
}
#nav li {
    list-style: none;
    float: left;
}
#nav li a {
    display: block;
    padding: 5px 5px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-right: 60px;
}
#nav li a:hover {
    color: #fff;
    background-color: #000; 
    -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}

.fade {
  opacity: 1;
}
@keyframes navbar {
  from {
    height: 0px;
  }
  
  to {
    height: 100%;
  }
}

#gif1{
    
    width:800px;
    height: 500;
    margin-left: 200px;
}

#gif2{
    width:600px;
    height: 400;
}

#gif4{
    width:600px;
    height: 400;
}
.navbar{
animation: navbar 2s ease-in-out forwards;
}

#logo {
    margin-right: 0px;
}

.nav-item{
    margin-left: 25px;
}

#wrapper{
    background: black;
    display: inline-block;
    border-radius: 50px;
    margin: 10px;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.circle{
    width: 45px;
    height: 30px;
    position: relative;
}

.line{
    position: absolute;
    height: 5px;
    width:100%;
    background: #fff;
    border-radius: 2px;
    transition: all cubic-bezier(0.26,.1,.27,1.55) 0.35s;
}

.top{
    top: 18%;
}

span.line.top {
    top: 20px;
    transform: translateY(-50%);
}


.icon.close .top{
    transform:rotate(45deg);
    top: 48%;
}

.icon.close .bottom{
    transform:rotate(-45deg);
    top: 48%;
}

.jumbotron{
    background-color: transparent;
    color: white;
    padding: 0;
}
  
@keyframes FadeIn {
  from {
    background-color: blue;
    height: 0px;
    font-size: 0px;
  }
  
  to {
    background-color: none;
    height: 35px;
    font-size: 13px;
  }
}

#row1{
    text-align: center;
    font-size: 13px;
    height: 50px;
    display: block;
    background-color:#80808085;
    animation: FadeIn 2s ease-in-out forwards;
}


#container1{
    background-color: transparent;
}


#container1.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  opacity: 0.95;
  max-width: 1400px;
}

.sticky{
     background-color: #0b0e10;
}

#container1 > ul>  h3{
    margin-right: 620px;
    float: left;
}

#container1 > ul >button{
    border-radius: 12px;
    font-size: 13px;
    width: 70px;
    text-align: center;
}


#container1 > ul>  
{
    color: white
}

#s1{
    color: gray
}

#s1:hover{
    color: blue;
    text-decoration: none;
}

#container1 > ul>  a,button{
    margin-right: 20px;
    font-size: 13px;
}

#container1 > ul>  a:hover{
    color: blue;
    text-decoration: none;
}

.btn-secondary .disabled{
    background-color: black;
    opacity: 1;
}

#container2{
    opacity: 1;
    padding-top: 50px;
}

.links-inline{
    margin-left: 200px;
}

.links-inline >a >span{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 100px;
}

.links-inline >a >#arrow:after {
    content: '\02C3';
}

.icon-copy:hover{
    text-decoration:underline;
}

@keyframes  h1{
  from {
    font-size: 0px;
  }
  
  to {
    font-size: 80px;
  }
}

#container2 > h1{
    text-align: center;
    animation: h1 5s ease-in-out forwards;
}

video {
  width: 100%;
  height: auto;
}

#container2 > p{
    margin-top: 150px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-left: 200px;
}

#container2 > #p1{
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-left: 400px;
}

@keyframes  h4{
  from {
    font-size: 0px;
  }
  
  to {
    font-size: 32px;
  }
}

#container2 > h4{
    text-align: center;
    animation: h4 3s ease-in-out forwards;
}

#container3, #container4 {
    padding-top: 200px;
    text-align: center;
}

.button1 {
    height: 4x0px;
    width: 400px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid white;
    font-size: 18px;
    text-align: center;
    margin-left: 500px;
}

.button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#container4 > img{
    float: left;
}

#container5{
    padding-top: 200px;
    text-align: center;
}

#container5 > h3 {
    color: #187bcd;
}

#container5 > .button1 {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: black; 
    color: gray; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-left: 80px;
}

#container5 > .button1:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
}

#image1 , #image2{
    margin-top: 300px;
}

#image2{
    margin-left: 0px;
}

#row2{
    margin-top: 300px;  
}

#image3
{
  background-image: url("../images/image3.jpg");
  margin-top: 200px;
  background-repeat: repeat-y;
  height: 800px;
  margin-left: 300px;
}

#image3 > h1{
    padding-top: 400px;
    display: block;
}

#image3 > h3 {
    color: gray;
}

#container6{
    padding-top: 200px;
    padding-left: 200px; 
}

#gif6{
    width: 600px;
}

#container6 > h1 {
    padding-left: 100px;
}

#container6 >h4 {
    padding-left: 100px;
    color: gray;
    text-align: left;
}

#container7 {
    padding-top: 300px;
}

#ct71 {
    padding-left: 150px;
    color: gray;
    font-size: 100px;
}

#ct72{
    padding-left: 400px;
    font-size: 70px;
}

#container7 > img {
    margin-left: 230px;
    margin-top: 150px;
}

#container8 {
    padding-top: 300px;
}

#container8 > h4 {
    text-align: center;
    color: gray;
}

#container8 > h3 {
    text-align: center;
    padding-top: 100px;
    color: #187bcd;
}

#container8 >.button1 {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
    margin-left: 450px;
}

#container8 > .button1:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
}

#container8 > h4 {
    text-align: center;
    color: gray;
}

#container9 {
    padding-top: 300px;
    text-align: center;
}

#container9 > h1{
     font-size: 70px;
}

#container9 > h4{
    padding-top: 40px;
    text-align: center;
    color: gray;
}

#container9 > h4{
    padding-top: 40px;
    text-align: center;
    color: gray;
}
#container9 > h2{
    padding-top: 40px;
    text-align: center;
    color: #187bcd;
}

#container9 >.button1 {
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
    margin-left: 10px;
}

#container9 > .button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#conth1{
    color: gray;
}

#container10{
    padding-top: 200px;
    display: left;
}

#container10 > h1{
    font-size: 80px;
    margin-left: 100px;
    font-weight: bold;
}

#gif8{
    position: center;
    width: 1000px;
    height: 1000px;
    margin-left: 100px;
}

#container10 > h4{
    padding-top: 40px;
    text-align: center;
    color: gray;
    font-weight: bold;
}

#container10 > h3{
    padding-top: 40px;
    text-align: center;
    color: #187bcd;
}

#container10 > hr{
    width: 500px;
    margin-top: 50px;
    border: 1px solid #187bcd;
}

#container10 >.button1 {
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    margin-left: 500px;
}

#container10 > .button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#container11{
    padding-top: 400px
}

#container11{
    padding-top: 400px
}

#container11 > h1{
    text-align: center;
    font-size: 60px;
}
#container11 > #gray{
    color: gray;
}
#container11 > img{
    margin-left: 300px
}

#container12{
    margin-left: 150px;
    padding-top: 200px;
}

#container12> h4{
   text-align: center;
    color: gray;
}

#container13{
    margin-left: 150px;
    padding-top: 300px;
}

#container13> h2{
    margin-left: 100px;
    margin-top: 50px;
    color:#187bcd;
}

#container13 > hr{
    margin-left: 100px;
    width: 500px;
    margin-top: 50px;
    border: 1px solid #187bcd;
}

#container14{
    padding-top: 300px;
}

#container14 > h1{
    font-size: 60px;
    margin-left: 250px;
}

#container14 > img{
    margin-left: 150px;
}

#container14 > p{
    margin-left: 100px;
    color: gray;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

#container15 >.row >.col > hr{
    width: 300px;
    margin-top: 50px;
    border: 1px solid #187bcd;
    margin-left: 350px;
}

#container15 >.row >#col2 > hr{
    margin-left: 0px;
}

#container15{
    padding-top: 100px;
    font-size: 30px;
    color: #187bcd;
}

#left{
    text-align: right;
}

#container15 >.row >.col > .button1 {
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}

#container15 >.row >.col > .button1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

#container16{
    padding-top: 300px;
}

#righth1{
    position: relative;
    text-align: center;
    transform: rotate(90deg);
    padding-top:600px;
    font-size: 2.5em;
    padding-bottom: 150px;
    margin-top:300px; 
}

#lefth1{
    position: relative;
    margin-left: 100px;
    text-align: center;
    transform: rotate(90deg);
    padding-bottom:400px;
    font-size: 2em;
}

#center{
    margin-left: 100px;
}


#container17{
    padding-top: 100px;
    display: block;
    display: center;
}

#container17 > .row > .col{
    height: 150px;
    column-width: 300px;
    border-width: 3.5px;
    border-style: solid;
    font-weight: bold;
    border-color: #187bcd;
}

#container17 > .row > .col > span{
    font-size: 3em;
    color:#187bcd;
}

.shadow {
    box-shadow:0 0 30px #187bcd !important;
    border-color:transparent !important;
}

#container17 >.row >h1{
    margin-top: 5%;
    text-align: center;
    margin-left: 15%;
    color: #187bcd;
}

#container17 >.row > .button1 {
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
    margin-left: 500px;
}

#container17 >.row > .button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}


#innerSpan {
    font-size: 30px;
    color:#187bcd;
}

#container18{
    display: center;
    background-image: url("../images/image8.jpg");
    margin-top: 200px;
    background-size: 100%;
    height: 1000px;
    width: 1000px;
    background-repeat: repeat-y;
    margin-left: 200px;
}

#container18 > h1 {
     font-size: 3em;
     font-weight: bold;
}

.transform{
    transform: translate(0,-500px);
}

.top{
 top:500px;
 transform: translateY(-50%) 
}

#container19 > p > span{
    color: white;
}

#container19 > p {
    color: gray;
    font-size: 1.45em;
    text-align: center;
    margin-left: 100px;
}

#container20{
    display: center;
    margin-left: 200px;
}

#container21 > p {
    color: gray;
    font-size: 1.45em;
    text-align: left;
    margin-left: 250px;
}

#container22 > .col-md-6 > p {
    color: gray;
    text-align: left;
    margin-top: 250px;
    margin-left: 250px;
    display: center;
    font-size: 1.4em;
}

#container22 > .col-md-6 > p >span{
    color: white;
}

#container22 > .col-md-6 > .button1 {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 20px;
    text-align: center;
    margin-left: 250px;
    margin-top: 20px;
}

#container22 >.col-md-6 > .button1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

#container23 > .row{
    padding-top: 300px;
}

#container23 >.row > h1{
   margin-left: 300px;
   font-size: 4em;
}

#container23 > .col-md-6{
    float: left;
}

#container23 > .col-md-6 > p{
    padding-top: 50%;
    padding-left: 30%;
    font-size: 1.25em;
    color: gray;

}

#container24{
    padding-top: 800px;
} 

#container24 > .row{
    padding-top: 20%;
}

 #container24 >.row > h1{
   font-size: 3.5em;
   margin-left: 150px;

}

 #container24 > img{
}

 #container25 > .row > p >span{
    color: white;
}

 #container25 > .row > p{
    padding-left: 15%;
    color: gray;
    font-size: 1.4em;
    font-weight: bold;
}

#container25 > .col-md-6{
    padding-top: 10%;
    float: left;
    font-size: 1.5em;
    color: gray;
}

#container25 > .col-md-6 >p{
    padding-top: 50%;
}

#container26 > img{
    padding-left: 17%;
}
#container26 > .row > p{
    color: gray;
    font-size: 1.5em;
    padding-top: 5%;
    padding-left: 10%;
}

#container27 > .col-md-6{
    float: left;
}

#container27 > .col-md-6 > p{
    padding-left: 25%;
    padding-top: 50%;
    font-size: 1.45em;
    color: gray;
}

#container27 > .col-md-6 > .button1 {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 20px;
    text-align: center;
    margin-left: 25%;
}

#container27 >.col-md-6> .button1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

#container28{
    padding-top: 80%;
}

#container28 > .row > h1{
    font-size: 5em;
    padding-left: 10%;
}


#container28 > .row > p{
    padding-left: 10%;
    padding-top: 5%;
    font-size: 1.45em;
    color: gray;
    font-weight: bold;
}

#container28 > .row > p > span{
    color: white;
}

#container29 > img{
    padding-left: 5%;
}

#container29 > .row > p{
    padding-left: 5%;
    padding-top: 5%;
    font-size: 1.25em;
    color: gray;
    font-weight: bold;
}

#container29 > .row > p > span{
    color: white;
}

#container30 > .row > h1{
    font-size: 5em;
    padding-left: 10%;
    font-weight: bold;
}

#container30 > #secondrow{
    padding-top: 150px;
}


#container30 > .row > .col-md-4 > img{
    padding-left: 100px;
}

#container30 > .row > .col-md-4 > p{
    color: gray;
}

#container30 > .row > .col-md-8{
    padding-left: 200px;
    height: 500px;
}

#container30 > .row > .col-md-8> .col{
    float: left;
}

#container30 > .row > .col-md-8> #leftcolumn{
    margin-right: 0;
}

#container30 > .row > .col-md-8> #leftcolumn >h1{
    padding-top: 20%;
    font-weight: bold;
}

#container30 > .row > .col-md-8 > #leftcolumn > p{
    font-size: 1.25em;
    color: gray;
    font-weight: bold;
}

#container30 > .row > .col-md-8 > #leftcolumn{
    width:200px;
}

#container30 > .row > .col-md-8 > #leftcolumn > #blue{
    padding-top: 0;
    color: #187bcd;
}
#container30 > .row > .col-md-8 > #leftcolumn > #gray{
    padding-top: 0;
}

#container30 > .row > .col-md-8 > #centercolumn{
    width: 50px;
}

#container30 > .row > .col-md-8 > #centercolumn > hr{
    height: 350px;
    width: 0;
    margin-top: 50px;
    border: 1px solid gray;
}

#container30 > .row > .col-md-8 > #rightcolumn{
    width:400px;
    height: 450px;
}

#container30 > .row > .col-md-8> #rightcolumn >h1{
    padding-top: 10%;
    font-weight: bold;
}

#container30 > .row > .col-md-8 > #rightcolumn > p{
    font-size: 1.25em;
    color: gray;
    font-weight: bold;
    text-align: left;
}

#container30 > .row > .col-md-8 > #rightcolumn > #blue{
    padding-top: 0;
    color: #187bcd;
}
#container30 > .row > .col-md-8 > #rightcolumn > #gray{
    padding-top: 0;
}

#thirdrow{
    float:left;
    padding-top: 100px;
    margin-left: 100px;
}

form {
  width:330px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  box-sizing:border-box;
  background-color:#363636;
  color: gray;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
  text-align:center;
  position:relative;
  border-radius:50px;
}

form > div {
  color:white;
  padding-top:24px;
  display:block;
  position:absolute;
  top:-4px;
  left:-4px;
  bottom:-4px;
  width:calc(33.33% + 8px);
  background-color: rgba(255, 255, 255,1);
  border-radius: 50px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
  z-index:1;
  pointer-events:none;
  transition:transform 0.3s;
}

form::after {
  content:"";
  display:block;
  clear:both;
}

form label {
  float:left;
  width:calc(33.333% - 1px);
  position:relative;
  padding:0px 0px 40px;
  overflow:hidden;
  border-left:solid 1px rgba(0,0,0,0.2);
  border-radius: 50px;
  transition:color 0.3s;
  cursor:pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

form label:first-child {
  border-left:none;
}

form label input {
  position:absolute;
  top:-200%;
}

form label div {
  z-index: 5;
  position: absolute;
  width: 100%;
}

form label.selected {
  color:black;
  height: 30px;
}

#container31 >.row > .col-md-6 > h1{
    padding-top: 200px;
    font-size: 3em;
    font-weight: bold;
}

#container31 >.row > .col-md-6 > h4{
    text-align: left;
    color: gray;
}

#container32{
    padding-top: 300px;
}

#container32 > #gray{
    color: gray;
}

#container32 > h1 {
    font-size: 4em;
    font-weight: bold;
    font-size: 70px;
}

#container32 > .article{
    background-image: url(../images/gif9.gif);
    background-repeat: repeat-x;
    padding-top: 100%;
    padding-left: 20%;
    background-size: 100%;
    height: 100px;
}

#container33 >h3{
    text-align: center;
    color: #187bcd;
    font-weight: bold;
}
#container33 >h4{
    text-align: left;
    color: gray;
    font-weight: bold;
    padding-left: 10%;
}


#container33 >.button1 {

    height:40px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 20px;
    text-align: center;
    margin-left:45%;
    margin-top: 20px;
    margin-bottom: 100px;
}

#container33 > .button1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

#container33 > .fa-tv{
    padding-top: 10%;
    padding-left: 25%;
}

#container33 > p{
    padding-left: 25%;
    color: gray;
    font-weight: bold;
}
#container33 > p > span{
    color: white;
}

#container34{
    padding-top: 25%;
}

#container34 > h1{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

#container35 > p{
    padding-top: 20%;
    text-align: center;
    font-size: 20px;
    color: gray;
    font-weight: bold;
}

#container35 > .row{
    padding: 0;
}

#container35 > .row > h3{
    color: #187bcd;
    padding-left: 15%;
    float: top;
}

#container35 > .row > hr{
    border: 1px solid #187bcd;
    width: 400px;
    float: top;
}

#container36{
    padding-top: 500px;
}

#container36 > h1{
    font-weight: bold;
    padding-left: 15%;
    font-size: 70px;
}

#container36 > #gray{
    color: gray;
}

#container36 > img{
    padding-left: 10%;
}

#container36 > p{
    padding-top: 10%;
    color:gray;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#container37{
    padding-top: 300px;
}

#container37 > h1{
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}

#container37 > #gray{
    color: gray;
}

#container37 > img{
    margin-left: 20%;
    padding-top: 10%;
    padding-bottom: 5%;
}

#container37 > p{
    text-align: center;
    color: gray;
    font-size: 20px;
    font-weight: bold;
}

#container37 > .row > #innercontainer{
    width: 500px;
    height: 150px;
    float: left;
    font-weight: bold;
    background-color: #0b0e10;
    border-radius: 10px;
    margin-top: 5%;
}

#container37 > .row > #innercontainer > h1{
    color: #187bcd;
    text-align: center;
    margin: 0;
    margin-top:0;
    font-size: 50px;
}

#container37 > .row > #innercontainer> p{
    text-align:center;
}

#container37 > #blue{
    padding-top: 100px;
    color: #187bcd;
    font-size: 30px;
    text-decoration: none;
}

#container38{
    padding-top: 300px;
}

#container38 > h1{
    text-align: center;
    font-size: 80px;
}

#container38> #gray{
    color:gray;
}

#container38> img{
    padding-left: 15%;
}

#container39{
    padding-top: 100px;
}

#container39 > h1{
   text-align:center;
   font-size: 90px;
}
#container39 > img{
    padding-left: 15%;
}
#container39 > p{
    text-align:center;
    color:gray;
    font-size: 20px;
}

#container40{
    text-align: center;
}
#container40 > h1{
    padding-top: 50px;
    font-weight: bold;
}

#container40 > h4{
    padding-top: 50px;
    color: gray;
}

#container41{
    padding-top: 300px;
}

#container41 >.row > .col-md-6> img{
    width: 480px;
    height: 735px;
}

#container41 >.row > .col-md-6{
    text-align: center;
}

#container41 >.row > .col-md-6 > h1{
    padding-top: 70%;
}

#container41 >.row > .col-md-6 > p{
    color: gray;
}

#container42{
    margin-top: 30%;
    height: 600px;
    background-color: #0b0e10;
    text-align: center;
    color: gray;
    font-weight: bold;
}

#container42 > h1{
    font-size: 3em;
    color: white;
    font-weight: bold;
    padding-bottom: 5%;
}

#container42 > h1{
    font-size: 3em;
    color: white;
    font-weight: bold;
    padding-bottom: 5%;
}

#container43{
    padding-top: 35%;
    font-weight: bold;
}

#container43 > h1{
    font-weight: bold;
    margin-left: 15%;
}

#container43 > img{
    margin-left: 10%;
}

#container44{
    padding-top: 20%;
    color: ;
}

#container44 > h3{
    margin-left: 20%;
    color: #187bcd;
}

#container44 > p{
    font-size: 1.1em;
    padding-top: 10%;
    margin-left: 10%;
    color: gray;
    font-weight: bold;
}

#container44 > a{
    font-weight: bold;
   margin-top: 100px;
   margin-left: 40%;
}

#container45{
    padding-top: 30%;
}

#container45 > h1{
    text-align: center;
}

#container45 > .row{
    width: 800px;
    margin-left: 20%;
}

#container45 > .row > .col-md-4 >#heading{
    color:white;
    font-weight: bold;
}

#container45 > .row > .col-md-4 > p{
    color: gray;
}

#container46{
    margin-top: 10%;
    background-color: #0b0e10;
}

#container46> .row > .col-md-6{
    margin-top: 200px;
}

#container46> .row> .col-md-6 > img{
    margin-left: 20%;
}

#container46> .row > .col-md-6 > h1,p{
    padding-top: 10%
    font-weight: bold;
    text-align: center
}

#container46> .row > .col-md-6 >p{
    font-weight: bold;
    color:gray;
}

#container46> .row > .col-md-6 > .row{
    margin-top: 10%;
    margin-left: 30%;
}

#container46> .row > .col-md-6 > .row > .button{
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}   

#container46> .row > .col-md-6 > .row > #blue{
    background-color: #0031C470;
}

#container46> .row > .col-md-6 > .row > #gold{
    background-color: #D7BE69;
}

#container46> .row > .col-md-6 > .row > #graphite{
    background-color: #383428; 
}

#container46> .row > .col-md-6 > .row > #silver{
    background-color: #C0C0C0;   
}

#container47{
    margin-top: 30%;
}

#container47 > h1{
    text-align: center;
    font-weight:  bold;
}

#container47 > .row{
    height: 600px;
    background-color: #1B1B1B;
}

#container47 > .row > .col{
    background-color: #1B1B1B;
    float: left;
    width:50%;
    height: 100%;
}

#container47 > .row > .col > h1{
    margin-top: 30%;
}

#container47 > .row > .col >h1,h4{
    text-align: center;
    font-weight: bold; 
}

#container47 > .row > .col >h4{
    color: gray;
}

#container47 > .row > .col > a{
    margin-top: 10%;
    margin-left: 30%;
    font-weight: bold;
    font-size: 20px;
}
#container47 > .row > .col >#left{
    margin-left: 22%;
}

#container47 > .row > .col > img{
    height: 400px;
    width: 400px;
    margin-left: 15%;
    margin-top: 15%;
}

#container47 > #shop{
    margin-left: 40%;    
    font-size: 30px;
    font-weight: bold;
}

#container48{
    padding-top: 15%;
}

#container48 > h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#container48 > .row{
    margin-top: 7%;
}

#container48 > .row > .col-md-4 > img{
    margin-left: 15%;
}

#container48 > .row > .col-md-4> p{
    font-size: 20px;
    color: gray;
}

#container48 >.row > a{
    padding-top: 10%;
    margin-left: 40%;
    font-size: 30px;
}

#container49{
    background-color: #1B1B1B;
}

#container49 > h1{
    font-size: 60px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#container49 >.row > .col-md-6 >h2{
    text-align: center;
}

#container49 >.row > .col-md-6 >p{
    color: gray;
    font-size: 18px;
}

#container49 >.row > .col-md-6 >a{
    font-size: 20px;
    margin-left: 40%;
}

#container49 >h2{
    margin-top: 10%;
    text-align: center;
}

#container49 >p{
    color: gray;
    font-size: 18px;
}

#container49 >a{
    font-size: 20px;
    margin-left: 30%;
}

#container49 >hr{
    border-top : 1px solid gray;
}

#container49 >.row > .col-md-3 > #heading{
    font-size: 20px;
    color: white;
}

#container49 >.row > .col-md-3 > p{
    color: gray;
}

#container49 >.row > .col-md-3 > a{
    margin-left: 25%;
}

#container49 >.row > .col-md-3 > img{
    margin-left: 15%;
}

#container49 >#lastpara{
    font-size: 13px;
    text-align: left;
}

footer{
    margin-top: 10%;
    background-color:#1B1B1B; 
}

footer > p{
    color: gray;
    margin-left: 12%;
    text-align: left;
    font-size: 15px;
}

footer > hr{
    width : 1150px;
    border-top : 1px solid gray;
}


footer > a{
    color: gray;
    margin-left: 12%;
}

footer > a:hover{
    color: white;
}



@media(max-width: 767px){
 .navbar{
  padding:0px;
  margin-right: 0px;
}

#wrapper{
    padding:0;>
    margin-left: 0;
}

#logo{
    margin-left: 0px;
}

#bag{
    margin-right: 50px;
}

#row1{
    display: block;
    text-align: center;
    margin-left:0px;
    margin-right: 0px;
    background-color: #1B1B1B !important;
    height:150px;
}

#row2{
    margin-top: 100px; 
}

.links-inline >a >span{
    margin-left: 100px;
    display: center;
}

#gif1{
    background-size: 100%;
}

#container1 > ul>  h3{
width: 50%;
margin-left: 0;
margin-right: 0;
float: left;
}

#container1 > ul >button{
    border-radius: 12px;
    font-size: 13px;
}

#container1 > ul>{
    color: white
}

#container2 > #p1{
    margin-left: 20px;
}

#gif1 , #gif2{
    margin-left: 0;
    background-size: 100%;
    padding: 0;
    position
}

.container{
    padding-left: 0px;
}

.button1 {
    width:50%;
    display: center;
}

#container2 > p,#p1{
    margin-left: 0px;
    text-align: left;
}

.links-inline >a >span{
    margin-left: 10px;
    text-align: left;
}

#container3 > h1{
    text-align: left;
}

#container4 > #image1,#image2{
    margin-left: 0px;
    margin-top: 0px;
}

.#container1 select {
    display: none;
}

.button1{
    margin-left: 180px;
}

#lefth1{
    padding-bottom: 0px;
}
#righth1{
    padding-top: 0px;
    margin-top: 0px;
}

#image3
{
    background-size: 100%;
    margin-left: 0px;
    background-repeat: repeat-y;
    height: 90%;
}

#container6{
    padding-left: 0px;
}

#gif6{
    background-size: 100%;
}

#ct71 {
    padding-left:0px;
    font-size: 50px;
    font-weight: bold;
}

#ct72{
    padding-left: 0px;
    font-size: 30px;
    font-weight: bold;
}

#container7 > img {
    margin-left: 0px;
    margin-top: 20px;
    background-size: 100%;
}

#container8 > h4{
    text-align: left;
}

#container8 > h3{
    padding-top: 50px;
    text-align: left;
}

#container30 > .row > .col-md-8 {
    padding-left: 0px;
    height: 500px;
}

#container8 > .button1 {
    height: 40px;
    width: 180px;
    margin-top: 20px;
    margin-left: 50px;
}



#conrainer9{
    text-align: left;
}

#container9 > h1 {
    font-size: 50px;
    text-align: left;
}

#container9 > h4{
    text-align: left;
}

#container17 > .row > h1 {
    text-align: left;
    margin-left: 0px;
}

#container17 > .row > .button1 {
    height: 40px;
    width: 150px;
    margin-top: 20px;
    margin-left: 50px;
}

#container10 > h1 {
    font-size: 50px;
    margin-left: 0px;
}

#gif8 {
    width: 500px;
    height: 500px;
    margin-left: 0px;
    background-size: 100%;
}

#container10 > h4{
    text-align: left;
}

#container10 > h3{
    text-align: left;
    font-weight: bold;
}

#container10 > .button1 {
    margin-left: 0px;
}

#container11 > h1 {
    text-align: left;
    font-size: 50px;
    font-weight: bold;
}

#container11 >img{
    margin-left: 0px;
    width: 100%;
    height: 100%;
}

#container12 , #container13{
    margin-left: 0px;
}

#container12 > h4{
    margin-left: 50px;
    text-align: left;
}

#container13 > h2 {
    margin-left: 50px;
    text-align: left;
}

#container13 > hr{
    margin-left: 50px;
}

#container14 {
    padding-top: 150px;
}

#container14 > h1 {
    font-weight: bold;
    font-size: 30px;
    margin-left: 0px;
}

#container14 > img {
    margin-left: 0px;
    width: 100%;
    height: 100%;
}

#container14 > p{
    margin-left: 0px;
}

#container15 >.row >.col{
    float: left;
    text-align: left;
}

#container18{
    margin-left: 150px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container18 > h1 {
     font-size: 2em;
     font-weight: bold;
}

#container19 > p {
    font-size: 1em;
    text-align: left;
    margin-left: 50px;
}

#container20{
    margin-left: 0px;
}

#container20 > img{
    margin-left: 120px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container21 > p {
     font-size: 1em;
    text-align: left;
    margin-left: 50px;
}

#container22 > .col-md-6 > p {
    margin-top: 100px;
    margin-left: 50px;;
    font-size: 1em;
}

#container22 > .col-md-6 > .button{
    margin-left: 50px;
    height: 40px;
    width: 130px;
    font-size: 15px;
}

#container22 > .col-md-6 > img{
    margin-left: 120px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container23 > .row > h1{
    font-size: 2em;
     font-weight: bold;
     margin-left: 50px;
}

#container23 > .col-md-6 > img{
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container23 > .col-md-6 > p{
    font-size: 1em;
    text-align: left;
    margin-left: 50px;
    padding-top: 5%;
    padding-left: 0%;
}

#container24 > .row > h1 {
    font-size: 2em;
     font-weight: bold;
     margin-left: 50px;
}

#container24 > img{
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container25 > .row > p {
    padding-top: 5%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
}

#container25 > .col-md-6 > p {
    padding-top: 10%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
}

#container25 > .col-md-6 > img{
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

 #container26 > img {
    padding-top: 10%;
    padding-left: 10%;
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container26 > .row > p{
    padding-top: 10%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
}

#container27 > .col-md-6 > img{
    padding-top: 10%;
    padding-left: 10%;
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container27 > .col-md-6 > p{
    padding-top: 10%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
}

#container27 > .col-md-6{
    height:10%;
}

#container27 > .col-md-6 > .button1 {
    margin-left: 50px;
    height: 40px;
    width: 130px;
    font-size: 15px;
}

#container28{
    padding-top: 110%;
}
#container28 > .row{
     padding-top: 50%;
     height:10%;
}

#container28 > .row > h1 {
    margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
   text-align:left ;
}

#container28 > .row > img{
    padding-top: 10%;
    padding-left: 10%;
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container28 > .row > p{
    padding-top: 10%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
}

#container29 > img {
    padding-top: 10%;
    padding-left: 10%;
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container29 > .row >p{
    padding-top: 10%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;

}

 #container30 > .row >h1 {
    margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
   text-align:left ;
}

#container30 > #secondrow {
    padding-top: 50px;
}

#container30 > .row > .col-md-4 >img {
    padding-left: 10%;
    margin-left: 50px;
    height: 450px;
    width: 400px;
    background-repeat: repeat-y;
}

#container30 > .row > .col-md-8{
    width: 100%;
    height: 30%;
}

#container30 > .row > .col-md-8 > #leftcolumn > h1 {
     margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
   text-align:left ;
   padding-top: 0%
}

#container30 > .row > .col-md-8 > #leftcolumn > p {
    padding-top: 0%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
    margin-bottom: 0px;
}

#container30 > .row > .col-md-8 > #rightcolumn > h1 {
     margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
   text-align:left ;
   padding-top: 0%
}

#container30 > .row > .col-md-8 > #rightcolumn > p {
    padding-top: 0%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
    margin-bottom: 0px;
}

#container30 > .row > .col-md-8 >#centercolumn > hr {
    height: 250px;
    margin-top: 80px;
}

#container30 > .row > .col-md-8 > #rightcolumn {
    width: 200px;
    height: 280px;
    float: left;
}

#thirdrow {
    float: left;
    padding-top: 100px;
    margin-left: 0px;
}

#container31 > .row > .col-md-6 > h1 {
    margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
   text-align:left ;
}

#container31 > .row > .col-md-6 > h4 {
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
   text-align:left ;
}

#container31 > .row > .col-md-6 > img{
    padding-left: 10%;
    margin-left: 50px;
    height: 600px;
    width: 400px;
    background-repeat: repeat-y;
}

#container32 > h1 {
   margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
   text-align:left ;
}
#container33 > h3 {
    margin-left: 50px;
    text-align: left;
    font-weight: bold;
}

#container33 > h4 {
    padding-left: 0px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
   text-align:left ;
}

#container33 > .fa-tv {
    padding-top: 5%;
    padding-left: 0px;
    margin-left: 50px;
}

#container33 > p {
    padding-top: 10%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
}

#container34 > h1 {
    margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
   text-align:left ;
}

#container35 > p {
    padding-top: 10%;
    margin-left: 50px;
    font-size: 1em;
    padding-left: 0%;
    text-align: left;
}

#container35 > .row > h3 {
    padding-left: 0px;
    font-size: 30px;
    margin-left: 50px;
}

#container35 > .row > hr {
    margin-left: 50px;
}

#container36 {
    padding-top: 100px;
}

#container36 > h1 {
     margin-left: 50px;
    font-size: 50px;
    font-weight: bold;
   text-align:left;
   padding-left: 0px;
}

#container36 > img {
    padding-left: 10%;
    margin-left: 50px;
    height: 300px;
    width: 500px;
    background-repeat: repeat-y;
    padding-left: 0px;
}

#container36 > p {
    padding-top: 5%;
    color: gray;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}

#container37 {
    padding-top: 100px;
}

#container37 > h1 {
     margin-left: 50px;
    font-size: 50px;
   text-align:left;
   padding-left: 0px;
}

#container37 > img {
    padding-left: 10%;
    margin-left: 50px;
    height: 300px;
    width: 500px;
    background-repeat: repeat-y;
    padding-left: 0px;
}

#container36 > p {
    padding-top: 5%;
    color: gray;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}

#container38 {
    padding-top: 100px;
}

#container38 > h1 {
     margin-left: 50px;
    font-size: 50px;
   text-align:left;
   padding-left: 0px;
}

#container38 > img {
    padding-left: 10%;
    margin-left: 50px;
    height: 300px;
    width: 500px;
    background-repeat: repeat-y;
    padding-left: 0px;
}

#container39 > h1 {
     margin-left: 50px;
    font-size: 50px;
   text-align:left;
   padding-left: 0px;
}

#container39 > img {
    padding-left: 10%;
    margin-left: 50px;
    height: 300px;
    width: 500px;
    background-repeat: repeat-y;
    padding-left: 0px;
}

#container40 > h4 {
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}

#container41 {
    padding-top: 100px;
}

#container41 > .row > .col-md-6 > img {
    padding-left: 0px;
    margin-left: 50px;
    height: 500px;
    width: 300px;
}

#container41 > .row > .col-md-6 > h1 {
    padding-top: 10%;
}

#container42 {
    margin-top: 10%;
    height: 300px;
    text-align: left;
}

#container43 {
    padding-top: 100px;
}

#container43 > h1 {
    margin-left: 50px;
    font-size: 30px;
   text-align:left;
   padding-left: 0px;
}

#container43 > img {
    margin-left: 50px;
    padding-left: 0px;
    margin-left: 50px;
    height: 500px;
    width: 500px;
}

#container44 {
    padding-top: 100px;
}

#container44 > h3 {
    margin-left: 50px;
}

#container44 > p {
    font-size: 1em;
    padding-top: 5%;
    margin-left: 50px;
    text-align: left;
}

#container44 > a {
    margin-top: 50px;
    margin-left: 20%;
}

#container45{
    padding-top: 100px;
}

#container45 > h1 {
    margin-left: 50px;
    font-size: 30px;
   text-align:left;
   padding-left: 0px;
}

#container45 > .row > .col-md-4{
    margin-left: 0px;
}

#container45 > .row > .col-md-4 >img{
    margin-left: 0px;
    width: 150px;
    height: 100px;
}

#container45 > .row > .col-md-4 >p{
    margin-left: 0px;
     margin-left: 15px;
    text-align: left;
}

#container46 > .row > .col-md-6 {
     margin-top: 0px;
}

#container46 > .row > .col-md-6 > img {
    margin-left: 60px;
}

#container47 {
    margin-top: 10%;
}

#container47 > .row > .col > img {
    margin-left: 0px;
     width: 300px;
    height: 400px;
}

#container47 > .row > .col > h1 {
    margin-left: 15px;
    font-size: 30px;
   text-align:left;
   padding-left: 0px;
}

#container47 > .row > .col > h4 {
    margin-left: 15px;
    font-size: 20px;
   text-align:left;
   padding-left: 0px;
}

#container47 > .row > .col > a {
    margin-left: 15px;
    font-size:  15px;
   text-align:left;
   padding-left: 0px;
}

#container47 > .row > .col > #left {
    margin-left: 15px;
}

#container47 > #shop {
    margin-left: 15%;
}

#container47 > .row > .col > h1, h4 {
    margin-left: 50px;
    text-align:left;
}

#container48 > h1 {
    margin-left: 50px;
    font-size: 30px;
   text-align:left;
   padding-left: 0px;
}

#container48 > .row > .col-md-4 > p {
    font-size: 20px;
    text-align: left;
}

#container48 > .row > a {
    margin-left: 20%;
}

#container49 > h1 {
     margin-left: 50px;
    font-size: 30px;
   padding-left: 0px;
}

#container49 > a {
    font-size: 20px;
    margin-left: 10%;
}

#container49 > .row > .col-md-3 > img {
    margin-left: 35%;
}

#container49 > .row > .col-md-3 > a {
    margin-left: 40%;
}
footer > p {
    margin-left:50px;
}

footer > a {
    margin-left: 5%;
}
}

