body{
    background-color: black;
}

html {
  scroll-behavior: smooth;
}

.navbar{
    background-color: black;
}

#nav{
    width: 70%;
    padding: 0;
    list-style: none;
    background-color: black;
    color: white;
    margin-left: 80px;
}
#nav li {
    list-style: none;
    float: left;
}
#nav li a {
    display: block;
    padding: 5px 5px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-right: 60px;
}
#nav li a:hover {
    color: #fff;
    background-color: #000; 
    -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}

.fade {
  opacity: 1;
}
@keyframes navbar {
  from {
    height: 0px;
  }
  
  to {
    height: 100%;
  }
}

#gif1{
    
    width:800px;
    height: 500;
    margin-left: 200px;
}

#gif2{
    width:600px;
    height: 400;
}

#gif4{
    width:600px;
    height: 400;
}
.navbar{
animation: navbar 2s ease-in-out forwards;
}

#logo {
    margin-right: 50px;
}

#bag {
}

.nav-item{
    margin-left: 25px;
}

#wrapper{
    background: black;
    display: inline-block;
    border-radius: 50px;
    margin: 10px;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.circle{
    width: 45px;
    height: 30px;
    position: relative;
}

.line{
    position: absolute;
    height: 5px;
    width:100%;
    background: #fff;
    border-radius: 2px;
    transition: all cubic-bezier(0.26,.1,.27,1.55) 0.35s;
}

.top{
    top: 18%;
}

.bottom{
    top: 78%;    
}

.icon.close .top{
    transform:rotate(45deg);
    top: 48%;
}

.icon.close .bottom{
    transform:rotate(-45deg);
    top: 48%;
}

.jumbotron{
    background-color: transparent;
    color: white;
    padding: 0;
}
  
@keyframes FadeIn {
  from {
    background-color: blue;
    height: 0px;
    font-size: 0px;
  }
  
  to {
    background-color: none;
    height: 35px;
    font-size: 13px;
  }
}

#row1{
    text-align: center;
    font-size: 13px;
    background-color: #343a40;
    height: 35px;
    display: block;
    background-color:transparent;
    animation: FadeIn 2s ease-in-out forwards;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  background-color: black;
}

#container1 > ul>  h3{
    margin-right: 620px;
    float: left;
}

#container1 > ul >button{
    border-radius: 12px;
    font-size: 13px;
    width: 70px;
    text-align: center;
}


#container1 > ul>  
{
    color: white
}

#s1{
    color: gray
}

#s1:hover{
    color: blue;
    text-decoration: none;
}

#container1 > ul>  a,button{
    margin-right: 20px;
    font-size: 13px;
}

#container1 > ul>  a:hover{
    color: blue;
    text-decoration: none;
}

.btn-secondary .disabled{
    background-color: black;
    opacity: 1;
}

#container2{
    opacity: 1;
    padding-top: 50px;
}

.links-inline{
    margin-left: 200px;
}

.links-inline >a >span{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 100px;
}

.links-inline >a >#arrow:after {
    content: '\02C3';
}

.icon-copy:hover{
    text-decoration:underline;
}

@keyframes  h1{
  from {
    font-size: 0px;
  }
  
  to {
    font-size: 80px;
  }
}

#container2 > h1{
    text-align: center;
    animation: h1 5s ease-in-out forwards;
}

video {
  width: 100%;
  height: auto;
}

#container2 > p{
    margin-top: 150px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-left: 300px;
}

#container2 > #p1{
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-left: 400px;
}

@keyframes  h4{
  from {
    font-size: 0px;
  }
  
  to {
    font-size: 32px;
  }
}

#container2 > h4{
    text-align: center;
    animation: h4 3s ease-in-out forwards;
}

#container3, #container4 {
    padding-top: 200px;
    text-align: center;
}

.button1 {
    height: 50px;
    width: 400px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid white;
    font-size: 18px;
    text-align: center;
    margin-left: 480px;
}

.button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#container4 > img{
    float: left;
}

#container5{
    padding-top: 200px;
    text-align: center;
}

#container5 > h3 {
    color: #187bcd;
}

#container5 > .button1 {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: black; 
    color: gray; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-left: 80px;
}

#container5 > .button1:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
}

#image1 , #image2{
    margin-top: 300px;
}

#image2{
    margin-left: 0px;
}

#row2{
    margin-top: 300px;  
}

#image3
{
  background-image: url("../images/image3.jpg");
  margin-top: 200px;
  background-repeat: repeat-y;
  height: 800px;
  margin-left: 300px;
}

#image3 > h1{
    padding-top: 400px;
    display: block;
}

#image3 > h3 {
    color: gray;
}

#container6{
    padding-top: 200px;
    padding-left: 200px; 
}

#gif6{
    width: 600px;
}

#container6 > h1 {
    padding-left: 100px;
}

#container6 >h4 {
    padding-left: 100px;
    color: gray;
}

#container7 {
    padding-top: 300px;
}

#ct71 {
    padding-left: 320px;
    color: gray;
}

#ct72{
    padding-left: 400px;
}

#container7 > img {
    margin-left: 200px;
}

#container8 {
    padding-top: 300px;
}

#container8 > h4 {
    text-align: center;
    color: gray;
}

#container8 > h3 {
    text-align: center;
    padding-top: 100px;
    color: #187bcd;
}

#container8 >.button1 {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: black; 
    color: gray; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
    margin-left: 450px;
}

#container8 > .button1:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
}

#container8 > h4 {
    text-align: center;
    color: gray;
}

#container9 {
    padding-top: 300px;
    text-align: center;
}

#container9 > h1{
     font-size: 70px;
}

#container9 > h4{
    padding-top: 40px;
    text-align: center;
    color: gray;
}

#container9 > h4{
    padding-top: 40px;
    text-align: center;
    color: gray;
}
#container9 > h2{
    padding-top: 40px;
    text-align: center;
    color: #187bcd;
}

#container9 >.button1 {
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
    margin-left: 10px;
}

#container9 > .button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#conth1{
    color: gray;
}

#container10{
    padding-top: 200px;
    display: left;
}

#container10 > h1{
    font-size: 80px;
    margin-left: 100px;
}

#gif8{
    position: center;
    width: 1000px;
    height: 1000px;
    margin-left: 100px;
}

#container10 > h4{
    padding-top: 40px;
    text-align: center;
    color: gray;
}

#container10 > h3{
    padding-top: 40px;
    text-align: center;
    color: #187bcd;
}

#container10 > hr{
    width: 500px;
    margin-top: 50px;
    border: 1px solid #187bcd;
}

#container10 >.button1 {
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    margin-left: 500px;
}

#container10 > .button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#container11{
    padding-top: 400px
}

#container11{
    padding-top: 400px
}

#container11 > h1{
    text-align: center;
    font-size: 60px;
}
#container11 > #gray{
    color: gray;
}
#container11 > img{
    margin-left: 300px
}

#container12{
    margin-left: 250px;
    padding-top: 200px;
}

#container12> h4{
    position: absolute;
    margin-left: 100px;
    color: gray;
}

#container13{
    margin-left: 250px;
    padding-top: 300px;
}

#container13> h2{
    margin-left: 100px;
    margin-top: `50px;
    color:#187bcd;
}

#container13 > hr{
    margin-left: 100px;
    width: 500px;
    margin-top: 50px;
    border: 1px solid #187bcd;
}

#container14{
    padding-top: 300px;
}

#container14 > h1{
    font-size: 60px;
    margin-left: 350px;
}

#container14 > img{
    margin-left: 250px;
}

#container14 > p{
    margin-left: 250px;
    color: gray;
    font-size: 20px;
}

#container15 >.row >.col > hr{
    width: 300px;
    margin-top: 50px;
    border: 1px solid #187bcd;
    margin-left: 350px;
}

#container15 >.row >#col2 > hr{
    margin-left: 0px;
}

#container15{
    padding-top: 100px;
    font-size: 30px;
    color: #187bcd;
}

#left{
    text-align: right;
}

#container15 >.row >.col > .button1 {
    height: 40px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}

#container15 >.row >.col > .button1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

#container16{
    padding-top: 300px;
}

#righth1{
    position: relative;
    text-align: center;
    transform: rotate(90deg);
    padding-top:600px;
    font-size: 2.5em;
    padding-bottom: 150px;
    margin-top:300px; 
}

#lefth1{
    position: relative;
    margin-left: 100px;
    text-align: center;
    transform: rotate(90deg);
    padding-bottom:400px;
    font-size: 2em;
}

#center{
    margin-left: 100px;
}


#container17{
    padding-top: 100px;
    display: block;
    display: center;
}

#container17 > .row > .col{
    height: 150px;
    column-width: 300px;
    border-width: 3.5px;
    border-style: solid;
    font-weight: bold;
    border-color: #187bcd;
}

#container17 > .row > .col > span{
    font-size: 3em;
    color:#187bcd;
}

.shadow {
    box-shadow:0 0 30px #187bcd !important;
    border-color:transparent !important;
}

#innerSpan {
    font-size: 30px;
    color:#187bcd;
}

#container18{
    display: center;
    background-image: url("../images/image8.jpg");
    margin-top: 200px;
    background-size: 100%;
    height: 1000px;
    width: 1000px;
    background-repeat: repeat-y;
    margin-left: 300px;
}

#container18 > h1 {
     font-size: 3em;
}

.transform{
    transform: translate(0,-500px);
}

.top{
 top:500px;
 transform: translateY(-50%) 
}

#container19 > p > span{
    color: white;
}

#container19 > p {
    color: gray;
    font-size: 1.45em;
    text-align: center;
    margin-left: 450px;
}

#container20{
    display: center;
    margin-left: 300px;
}

#container21 > p {
    color: gray;
    font-size: 1.45em;
    text-align: left;
    margin-left: 450px;
}

#container22 > .col-md-6 > p {
    color: gray;
    text-align: left;
    margin-top: 250px;
    margin-left: 250px;
    display: center;
    font-size: 1.4em;
}

#container22 > .col-md-6 > p >span{
    color: white;
}

#container22 > .col-md-6 > .button1 {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 20px;
    text-align: center;
    margin-left: 250px;
    margin-top: 20px;
}

#container22 >.col-md-6 > .button1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

#container23 > .row{
    padding-top: 300px;
}

#container23 >.row > h1{
   margin-left: 300px;
   font-size: 4em;
}

#container23 > .col-md-6{
    float: left;
}

#container23 > .col-md-6 > p{
    padding-top: 50%;
    padding-left: 30%;
    font-size: 1.25em;
    color: gray;

}

#container24{
    padding-top: 800px;
} 

#container24 > .row{
    padding-top: 20%;
}

 #container24 >.row > h1{
   font-size: 3.5em;
   margin-left: 250px;

}

 #container24 > img{
    display: center;
}

 #container25 > .row > p >span{
    color: white;
}

 #container25 > .row > p{
    padding-left: 25%;
    color: gray;
    font-size: 1.4em;
    font-weight: bold;
}

#container25 > .col-md-6{
    padding-top: 10%;
    float: left;
    font-size: 1.5em;
    color: gray;
}

#container25 > .col-md-6 >p{
    padding-top: 50%;
}

#container26 > img{
    padding-left: 17%;
}
#container26 > .row > p{
    color: gray;
    font-size: 1.5em;
    padding-top: 5%;
    padding-left: 20%;
}

#container27 > .col-md-6{
    float: left;
}

#container27 > .col-md-6 > p{
    padding-left: 25%;
    padding-top: 50%;
    font-size: 1.45em;
    color: gray;
}

#container27 > .col-md-6 > .button1 {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: black; 
    color: white; 
    border: 1px solid #187bcd;
    font-size: 20px;
    text-align: center;
    margin-left: 25%;
}

#container27 >.col-md-6> .button1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

#container28{
    padding-top: 80%;
}

#container28 > .row > h1{
    font-size: 5em;
    padding-left: 10%;
}

#container28 > .row > img{
    padding-left: 2%;
}

#container28 > .row > p{
    padding-left: 23%;
    padding-top: 5%;
    font-size: 1.45em;
    color: gray;
    font-weight: bold;
}

#container28 > .row > p > span{
    color: white;
}

#container29 > img{
    padding-left: 11%;
}

#container29 > .row > p{
    padding-left: 23%;
    padding-top: 5%;
    font-size: 1.45em;
    color: gray;
    font-weight: bold;
}

#container29 > .row > p > span{
    color: white;
}

#container30 > .row > h1{
    font-size: 5em;
    padding-left: 10%;
    font-weight: bold;
}

#container30 > #secondrow{
    padding-top: 150px;
}


#container30 > .row > .col-md-4 > img{
    padding-left: 100px;
}

#container30 > .row > .col-md-8{
    padding-left: 200px;
}

#container30 > .row > .col-md-8> .col{
    float: left;
}

#container30 > .row > .col-md-8> #leftcolumn{
    margin-right: 0;
}

#container30 > .row > .col-md-8> #leftcolumn >h1{
    padding-top: 20%;
    font-weight: bold;
}

#container30 > .row > .col-md-8 > #leftcolumn > p{
    font-size: 1.25em;
    color: gray;
    padding-top: 5%;
    font-weight: bold;
}

#container30 > .row > .col-md-8 > #leftcolumn{
    width:200px;
}

#container30 > .row > .col-md-8 > #leftcolumn > #blue{
    padding-top: 0;
    color: #187bcd;
}
#container30 > .row > .col-md-8 > #leftcolumn > #gray{
    padding-top: 0;
}

#container30 > .row > .col-md-8 > #centercolumn{
    width: 50px;
}

#container30 > .row > .col-md-8 > #centercolumn > hr{
    height: 400px;
    width: 0;
    margin-top: 50px;
    border: 1px solid white;
}

#container30 > .row > .col-md-8 > #rightcolumn{
    width:400px;
}

#container30 > .row > .col-md-8> #rightcolumn >h1{
    padding-top: 10%;
    font-weight: bold;
}

#container30 > .row > .col-md-8 > #rightcolumn > p{
    font-size: 1.25em;
    color: gray;
    font-weight: bold;
}

#container30 > .row > .col-md-8 > #rightcolumn > #blue{
    padding-top: 0;
    color: #187bcd;
}
#container30 > .row > .col-md-8 > #rightcolumn > #gray{
    padding-top: 0;
}

.row > .button > span {
    float: left;
}

#sliderbutton{
    width:330px;
    text-align: left; 
    height: 50px;  
    border-radius: 50px;
    font-weight: bold;
    background-color: #363636;
    border: 1px solid transparent;
}

#leftbutton{
    display: inline-block;
    width: 100px;
    border-right: 1px solid white;
}

#centerbutton{
    display: inline-block;
   width: 100px; 
   text-align: center;
   border-right: 1px solid white;
}

#sliderbutton > #rightbutton{
    display: inline-block;
    width: 100px;
    margin-right: 0;
    text-align: right;
    padding-right: 0;
}


@media(max-width: 767px){
 .navbar{
  padding:0px;
}

#wrapper{
    padding:0;>
    margin-left: 0;
}

#logo{
    margin-left: 0px;
}

#bag{
    margin-right: 50px;
}

#row1{
    display: block;
    text-align: center;
    margin-left:0px;
    margin-right: 0px;
    background-color: #0C090A;
    height:150px;
}

#row2{
    margin-top: 100px; 
}

.links-inline >a >span{
    margin-left: 100px;
    display: center;
}

#gif1{
    background-size: 100%;
}

#container1 > ul>  h3{
width: 50%;
margin-left: 0;
margin-right: 0;
float: left;
}

#container1 > ul >button{
    border-radius: 12px;
    font-size: 13px;
}

#container1 > ul>{
    color: white
}

#container2 > #p1{
    margin-left: 20px;
}

#gif1 , #gif2{
    margin-left: 0;
    background-size: 100%;
    padding: 0;
    position
}

.container{
    padding-left: 0px;
}

.button1 {
    width:50%;
    display: center;
}

#container4 > #image1,#image2{
    margin-left: 0px;
}

.#container1 select {
    display: none;
}

}
